In [2]:
import pandas as pd

In [8]:
# Series
x = [10, 20, 30, 40, 50, 60, 70, 80]

var = pd.Series(x, index=["a", "b", "c", "d", "e", "f", "g", "h"], dtype="float", name="python")

print(var)
print(type(var))

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f    60.0
g    70.0
h    80.0
Name: python, dtype: float64
<class 'pandas.Series'>

In [9]:
var["c"]

np.float64(30.0)

In [11]:
dict = {"name": ["c", "c++", "java", "python"], "por": [11, 22, 33, 44], "rank":[1, 2, 3, 4]}
var1 = pd.Series(dict)

In [12]:
print(var1)

name    [c, c++, java, python]
por           [11, 22, 33, 44]
rank              [1, 2, 3, 4]
dtype: object

In [14]:
s1 = pd.Series(12, index=[1, 2, 3, 4, 5, 6, 7, 8])
s2 = pd.Series(13, index=[1, 2, 3, 4, 5, 6])
print(s1+s2)

1    25.0
2    25.0
3    25.0
4    25.0
5    25.0
6    25.0
7     NaN
8     NaN
dtype: float64

In [15]:
df = pd.read_csv("./uk-500.csv")
df.head(3)

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk

In [16]:
s3 = pd.Series(df["first_name"])

In [17]:
print(s3)

0        Aleshia
1           Evan
2         France
3        Ulysses
4         Tyisha
         ...
495        Avery
496         Reid
497    Charlette
498    Celestina
499           Mi
Name: first_name, Length: 500, dtype: str